@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: var(--margin-sections);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: var(--font-size-header);
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.articleCard {
  margin-bottom: 24px;
  padding-bottom: 10px;
}

.articleLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.articleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.articleImage {
  margin-right: 16px;
  height: 100px;
  width: 100px;
  border-radius: 8px;
  object-fit: contain;
}